* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}


.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: min(100%, 600px);
  margin: 0 auto;
  padding: 20px;
}

.info {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 30px;
  color:blueviolet
}

.players-names {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: white;
}

.players-names > div {
  padding: 10px 20px;
  color: white;
}

.active-player {
  border: 2px solid white;
  background-color: blueviolet;
}

.game-info {
  text-align: center;
  margin: 20px;
  color: white;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  background-color: black;
}

.cell {
  background-color: white;
  color:blueviolet;
  border: none;
  border-radius: 0;
  font-size: 5rem;
}

.cell:active {
  background-color: blueviolet;
  color: white;
}

.cell:hover {
  background-color: rgb(172, 108, 231);
  color: white
}

dialog.start-game {
  width: 100vw;
  height: 100vh;
  background-color: rgba(138, 43, 226, 0.6);
  border: none;
}

form.start-game {
  background-color: black;
  color: white;
  width: 500px;
  height: 200px;
  padding: 30px;
  margin: 20% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.player-name-input {
  display: flex;
  flex-direction: column;
  gap: 10px
}

input[type="text"] {
  height: 30px;
  background-color: blueviolet;
  border: none;
  color: white;
}

input[type="text"]:focus-visible {
  outline: 2px solid blueviolet;
  background-color: white;
  color: black;
}

.btn-start {
  padding: 15px 30px;
  background-color: blueviolet;
  color: white;
  font-size: 1.3rem;
  border: none;
}

.btn-start:hover {
  background-color: rgb(172, 108, 231);
}

.btn-start:active {
  background-color: rgba(138, 43, 226);
}

dialog.game-over {
  background-color: rgba(138, 43, 226, 0.6);
  width: 100vw;
  height: 100vh;
  border: none;
  overflow: hidden;
}

dialog:-internal-dialog-in-top-layer {
  max-width: 100%;
  max-height: 100%;
}

div.game-over {
  background-color: black;
  color: white;
  width: 600px;
  height: 400px;
  padding: 30px;
  margin: 20% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#winner-name {
  font-size: 4rem;
}

.btn-restart {
  padding: 15px 30px;
  background-color: blueviolet;
  color: white;
  font-size: 1.3rem;
  border: none;
}

.btn-restart:hover {
  background-color: rgb(172, 108, 231);
}

.btn-restart:active {
  background-color: rgba(138, 43, 226);
}